#graph {
  width: 70%;
  height: 100%;
  background: white;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

#graph > h1,
h2 {
  margin: 2.5px 0;
}

#graph > h1 > span {
  color: grey;
}

#graphArea {
  flex-grow: 1;
  display: flex;
}

#graphArea > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 10%;
  gap: 10px;
}

#graphBar {
  background-color: var(--background);
  border-radius: 10px;
  width: 70%;
}

.BarActive {
  background-color: var(--accent) !important;
  box-shadow: rgba(0, 128, 255, 0.2) 0px 8px 24px;
}

.BarActive::before {
  content: "$15,000";
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  top: -80px;
  left: 3px;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(41, 41, 41);
}

.BarActive::after {
  content: "";
  position: relative;
  display: flex;
  width: 30px;
  height: 20px;
  top: -85px;
  left: 18px;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(41, 41, 41);
  clip-path: polygon(50% 70%, 0 0, 100% 0);
}
